<!DOCTYPE html>
<html>

<head>
    <title>Log Levels</title>

    <link rel="stylesheet" href="./../static/css/style.css">
    <!-- Font Awesome Free -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <button id="sidebarToggle" class="sidebar-toggle">
        <i class="fas fa-bars"></i>
    </button>

    <div class="dashboard-bg"></div>

    <div class="main-container">
        <!-- Sidebar -->
        <aside class="sidebar" id="sidebar">
            <div>
                <h2 class="sidebar-title">Navigation</h2>
                <ul>
                    <li class="active"><i class="fas fa-tachometer-alt"></i> Dashboard</li>
                    <li><i class="fas fa-layer-group"></i> Log Levels</li>
                    <li><i class="fas fa-cog"></i> Settings</li>
                </ul>
            </div>

            <ul class="sidebar-bottom">
                <li class="user-item">
                    <i class="fas fa-user"></i> Profile
                </li>
            </ul>
        </aside>

        <div class="content-container">
            <!-- Topbar -->
            <header class="topbar">
                <h1>Log Levels</h1>

                <div class="topbar-right">
                    <div class="search-container">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Search...">
                    </div>
                    <!-- <div class="user-icon">
                        <i class="fas fa-user"></i>
                    </div> -->
                </div>
            </header>

            <!-- Main content -->
            <main class="content">
                <div class="card">
                    <h2>Registered Packages</h2>
                    <table id="pkgTable">
                        <thead>
                            <tr>
                                <th>Package</th>
                                <th>Level</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="pkgTableBody">
                            <!-- Filled by JS -->
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <script src="./../static/js/sidebar.js"></script>
    <script src="./../static/js/index.js"></script>

</body>

</html>